<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et excepturi iure deleniti animi harum ducimus minus
        cumque odit recusandae optio quos, quibusdam libero aliquam accusamus laboriosam sapiente in ipsa deserunt.</p>
    {{> footer}}
</body>

</html>